streamlit
anthropic>=0.40.0
duckdb[motherduck]
pandas
plotly
python-dotenv
jupyter
vaderSentiment
scikit-learn
gensim==4.3.2
tensorflow
numpy
matplotlib
seaborn
scipy==1.12.0
nltk
transformers
torch
xgboost
wordcloud
joblib