streamlit==1.32.0
anthropic>=0.40.0
duckdb>=1.1.0
duckdb[motherduck]
pandas==2.2.0
plotly
python-dotenv==1.0.0
jupyter
vaderSentiment
scikit-learn
gensim
tensorflow
numpy
matplotlib
seaborn
scipy
nltk
transformers
torch
xgboost
wordcloud
joblib